@import url("https://fonts.googleapis.com/css?family=Zilla+Slab|Montserrat");
.clearfix:after {
  content: "";
  display: block;
  clear: both; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  min-width: 605px;
  background-color: #ddd;
  color: #000; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Zilla Slab', serif; }
  body p {
    font-family: "Montserrat", sans-serif; }

ul {
  list-style: none; }

#header {
  display: block;
  background-color: #11B700; }
  #header h1 {
    font-size: 44px; }
  #header li a {
    position: relative;
    display: inline-block;
    float: left;
    width: 24%;
    margin-right: 3px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    background: #0E9500;
    color: #fefefe;
    border: 2px solid #0B7000;
    border-radius: 10px; }
    #header li a:hover {
      background: #30b722;
      color: #222; }
    #header li a:hover {
      background: #30b722;
      color: #efefef; }
  #header .h-nav {
    margin: 0 auto;
    width: 90%;
    margin-top: 10px;
    padding: 4px 0;
    display: block; }
    #header .h-nav ul {
      padding: 0;
      width: 60%; }
    #header .h-nav .search-tab {
      display: inline;
      width: 38%;
      float: right; }
      #header .h-nav .search-tab input[type="button"] {
        background: url("../img/search-nav.png");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        border: 0; }
  #header .h-main {
    color: #5664A8;
    height: 80px;
    margin-top: -25px;
    background-color: #15E000; }
    #header .h-main .logo {
      margin: 0 auto;
      width: 90%; }
      #header .h-main .logo h1,
      #header .h-main .logo p {
        position: relative;
        text-align: right;
        color: #0C055F; }
      #header .h-main .logo h1 {
        right: 250px;
        margin-bottom: 0; }
  #header .h-footer {
    width: 100%;
    margin: 7px; }
    #header .h-footer li a {
      padding: 5px;
      width: 12%; }

@media only screen and (max-width: 768px) {
  #header li a {
    font-size: 12px;
    padding: 3px; } }
@media only screen and (max-width: 670px) {
  #header li a {
    font-size: 12px;
    padding: 3px;
    width: 24%; }
  #header .h-nav ul {
    width: 100%; }
  #header .h-nav .search-tab {
    display: none; }
  #header .h-footer {
    width: 100%;
    margin: 7px; }
    #header .h-footer li a {
      width: 24.5%;
      margin-bottom: 5px; } }
#container {
  margin: 0 auto;
  width: 90%;
  margin-top: 25px; }
  #container .l-main {
    width: 73%;
    float: left;
    margin-top: 25px;
    background: white; }
    #container .l-main article {
      padding: 20px;
      color: black; }
    #container .l-main section.post-head small {
      font-size: 14px;
      display: block;
      margin: 0 0 10px;
      padding: 0 0 10px;
      border-bottom: solid 2px #aaa;
      color: #0C055F; }
    #container .l-main section.post-foot {
      font-size: 14px;
      border-top: solid 2px #aaa;
      margin-top: 12px;
      padding-top: 20px; }
    #container .l-main .art-1 img {
      float: left;
      margin: 0 20px 10px 0; }
    #container .l-main .art-2 img {
      float: right;
      margin: 0 0 10px 10px; }
  #container .l-aside {
    width: 26%;
    float: right;
    margin-top: 25px;
    background: blue; }
    #container .l-aside img {
      width: 100%; }

@media only screen and (max-width: 768px) {
  #container .l-aside {
    width: 100%; }
    #container .l-aside img {
      width: 50%;
      float: left; }
  #container .l-main {
    width: 100%; } }
#footer {
  background: #0E9500; }
  #footer ul {
    margin: 10px; }
  #footer li a {
    color: #fff;
    text-decoration: none; }
    #footer li a:hover {
      color: #111; }
  #footer .f-links {
    float: left; }
  #footer .f-info {
    float: right; }
  #footer p {
    clear: both;
    text-align: center;
    padding-bottom: 10px;
    color: #000; }

/* Overlay when Modal is open */
#modal {
  display: none;
  color: #0C055F; }

/* Modal box or Popup box */
.popupContainer {
  width: 410px;
  height: auto;
  background: #15E000;
  border: 3px #04cf00 solid;
  border-radius: 5px; }

.btn {
  margin-right: 3px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  background: #0E9500;
  color: #fefefe;
  border: 2px solid #0B7000;
  border-radius: 10px; }
  .btn:hover {
    background: #30b722;
    color: #222; }

.btn_act {
  background: #0C055F;
  color: #FFF; }
  .btn_act:hover {
    background: #5147d1;
    color: #000; }

.one_half {
  width: 50%;
  display: block;
  float: left; }
  .one_half.last {
    width: 45%;
    margin-left: 5%; }

/* Popup Styles*/
.popupHeader {
  font-size: 16px;
  text-transform: uppercase;
  background: #11B700;
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;
  font-weight: bold; }
  .popupHeader .modal_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    background: #0E9500;
    cursor: pointer;
    color: #fff;
    font-size: 16px; }

.popupBody {
  padding: 20px; }

/* Social Login Form */
.social_login .social_box {
  display: block;
  clear: both;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background: #0E9500;
  color: #fefefe; }
  .social_login .social_box:hover {
    background: #30b722;
    color: #222; }
.social_login .icon {
  display: block;
  width: 10px;
  padding: 5px 10px;
  margin-right: 10px;
  float: left;
  font-size: 16px;
  text-align: center; }
.social_login .fb .icon {
  background: #3B5998; }
.social_login .google .icon {
  background: #DD4B39; }
.social_login .icon_title {
  display: block;
  padding: 5px 0;
  float: left;
  font-weight: bold;
  font-size: 16px;
  color: #fff; }

.centeredText {
  text-align: center;
  margin: 20px 0;
  clear: both;
  overflow: hidden;
  text-transform: uppercase; }

.action_btns {
  clear: both;
  overflow: hidden; }
  .action_btns a {
    display: block; }

/* User Login Form And Register Form*/
.user_login, .user_register {
  display: none; }
  .user_login label, .user_register label {
    float: right;
    width: 38%;
    font-size: 18px;
    padding: 7px; }
  .user_login input[type="email"], .user_login input[type="password"], .user_login input[type="text"], .user_register input[type="email"], .user_register input[type="password"], .user_register input[type="text"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    height: 45px;
    display: block;
    width: 60%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: #eee;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px; }
  .user_login .checkbox, .user_register .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
    margin-top: 10px; }
    .user_login .checkbox label, .user_register .checkbox label {
      width: 90%; }
    .user_login .checkbox input[type="checkbox"], .user_register .checkbox input[type="checkbox"] {
      width: 10%; }

/* User Login Form */
.forgot_password {
  display: block;
  margin: 20px 0 10px;
  clear: both;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  color: #fff; }

/* User Register Form */

/*# sourceMappingURL=app.css.map */
