#footer {
  background: #0E9500;

  ul {
    margin: 10px;
  }
  li a {

    color: #fff;
    text-decoration: none;

    &:hover {
      color: #111  ;
    }
  }
  .f-links {
    float: left;
  }

  .f-info {
    float: right;
  }
  p {
    clear: both;
    text-align: center;
    padding-bottom: 10px;
    color: #000;
  }
}
