#footer {
  background: black;
  ul {
    margin: 30px;
  }
  li a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #aaa;
    }
  }
  .f-links {
    float: left;
  }

  .f-info {
    float: right;
  }
  p {
    clear: both;
    text-align: center;
    padding-bottom: 10px;
  }
}
