#footer {
  background: #6F3900;
  border: 2px solid #D88E40;
  ul {
    margin: 10px;
  }
  li a {
    color: #D88E40;
    text-decoration: none;

    &:hover {
      color: #BA6E1E  ;
    }
  }
  .f-links {
    float: left;
  }

  .f-info {
    float: right;
  }
  p {
    clear: both;
    text-align: center;
    padding-bottom: 10px;
    color: #D88E40;
  }
}
