$li-num : 8;
#header {
  ul {
    margin: 0;
    width: 100%;
  }
  li
    a {
      position: relative;
      left: 100/$li-num * 2% ;

      display: inline-block;
      float: left;
      width: 100/$li-num * 1% ;
      padding: 5px;

      background: #0963A8;
      border-right: 1px solid #fff;

      color: #fff;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        background: #074A7E;
      }
    }

}
