$li-num : 6;
#header {
  margin: -20px;
  ul {
    margin: 0;
    width: 100%;
    display: inline-block;
  }
  li
    .logo {
      display: inline;
      img {
        width: 100%;
      }
    }
    a {
      display: inline-block;
      height: 60px;
      float: left;
      width: 100/$li-num * 1% ;
      padding: 5px;

      background: #37305E;
      border-right: 1px solid #fff;

      color: #fff;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      &:first-child {}
    }

}
