/* Overlay when Modal is open */

#modal {
  display: none;
  color: $text-c;
}

/* Modal box or Popup box */
.popupContainer{
	width: 410px;
	height: auto;
	background: $h-main-bg-c;
  border: 3px ($h-main-bg-c - #111) solid;
  border-radius: 5px;
}

// CSS
.btn {
    @include btn-style;
}

.btn_act  {
    background:  $text-c;
    color:  #FFF;

     &:hover  {
         background:  #5147d1;
         color: #000;
     }
}

.one_half  {
    width: 50%;
    display:  block;
    float: left;

    &.last  {
        width: 45%;
        margin-left: 5%;
    }
}

/* Popup Styles*/
.popupHeader  {
    font-size: 16px;
    text-transform:  uppercase;
    background: $bg-c;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;

    & .modal_close  {
       position:  absolute;
       right:  0;
       top: 0;
       padding: 10px 15px;
       background: $a-bg-c;
       cursor:  pointer;
       color: #fff;
       font-size: 16px;
    }
}

.popupBody  {
    padding: 20px;
}


/* Social Login Form */

.social_login {
    .social_box  {
       display: block;
       clear: both;
       padding: 10px;
       margin-bottom:  10px;
       overflow:  hidden;
       @include btn-def-style;
  }

    .icon  {
      display: block;
      width: 10px;
      padding: 5px 10px;
      margin-right:  10px;
      float: left;
      font-size: 16px;
      text-align:  center;
    }

    .fb .icon  {
        background: #3B5998;
    }

    .google .icon  {
        background: #DD4B39;
    }

    .icon_title  {
        display: block;
         padding: 5px 0;
         float: left;
         font-weight:  bold;
         font-size:  16px;
         color: #fff;
    }
}

.centeredText  {
    text-align:  center;
     margin:  20px 0;
     clear:  both;
     overflow:  hidden;
     text-transform:  uppercase;
}


.action_btns  {
     clear: both;
     overflow:  hidden;

     a  {
         display:  block;
     }
}


/* User Login Form And Register Form*/
.user_login, .user_register {
  display:  none;

  label {
    float: right;
    width: 38%;
    font-size: 18px;
    padding: 7px;
  }

  input[type="email"], input[type="password"],input[type="text"]   {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  height: 45px;
  display: block;
  width: 60%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: #eee;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  }


  .checkbox  {
    margin-bottom:  10px;
    clear:  both;
    overflow:  hidden;
    margin-top: 10px;
    label {
      width: 90%;
    }

    input[type="checkbox"] {
      width: 10%;
    }

  }
}

/* User Login Form */
.user_login  {
}
.forgot_password  {
  display: block;
  margin:  20px 0 10px;
  clear:  both;
  overflow:  hidden;
  text-decoration:  none;
  text-align: center;
  color: #fff;

}

/* User Register Form */
.user_register  {


}
