/* Overlay when Modal is open */
$btn-c : #e1e1e1;  //Color of btn's form
$f-c-bg : #f1f1f1; //Color of background
#modal {
  display: none;
}

/* Modal box or Popup box */
.popupContainer{
	width: 410px;
	height: auto;
	background: $f-c-bg;
  border: 1px ($f-c-bg - #050505) solid;
  border-radius: 10px;
}

// CSS

.btn {
    padding: 10px 20px;
    background:  $btn-c;

    &:hover  {
        background:  $btn-c - #090909;
    }
}

.btn_red  {
    background:  #ED6347;
     color:  #FFF;

     &:hover  {
         background:  #ED6347 - #111;
     }
}

a {
   &.btn  {
    color: #666;
    text-align:  center;
    text-decoration:  none;
    }

    &.btn_red  {
        color:  #FFF;
    }
}
.one_half  {
    width: 50%;
    display:  block;
    float: left;

    &.last  {
        width: 45%;
        margin-left: 5%;
    }
}

/* Popup Styles*/
.popupHeader  {
    font-size: 16px;
    text-transform:  uppercase;
    background: $f-c-bg + #050505;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;

    & .modal_close  {
       position:  absolute;
       right:  0;
       top: 0;
       padding: 10px 15px;
       background: #E4E4E2;
       cursor:  pointer;
       color: #aaa;
       font-size: 16px;
    }
}

.popupBody  {
    padding: 20px;
}


/* Social Login Form */

.social_login {
    .social_box  {
       display: block;
       clear: both;
       padding: 10px;
       margin-bottom:  10px;
       background:  #F4F4F2;
       overflow:  hidden;

       &:hover  {
           background:  #E4E4E2;
       }
  }

    .icon  {
      display: block;
      width: 10px;
      padding: 5px 10px;
      margin-right:  10px;
      float: left;
      color: #FFF;
      font-size: 16px;
      text-align:  center;
    }

    .fb .icon  {
        background: #3B5998;
    }

    .google .icon  {
        background: #DD4B39;
    }

    .icon_title  {
        display: block;
         padding: 5px 0;
         float: left;
         font-weight:  bold;
         font-size:  16px;
         color: #777;
    }
}

.centeredText  {
    text-align:  center;
     margin:  20px 0;
     clear:  both;
     overflow:  hidden;
     text-transform:  uppercase;
}


.action_btns  {
     clear: both;
     overflow:  hidden;

     a  {
         display:  block;
     }
}


/* User Login Form */
.user_login  {
    display:  none;


    label  {
        display:  block;
        margin-bottom: 5px;
  }

    input[type="text"],  .user_login input[type="email"],  .user_login input[type="password"] {
        display:  block;
         width: 90%;
         padding:  10px;
         border: 1px solid #DDD;
         color: #666;
    }

    input[type="checkbox"]  {
       float: left;
       margin-right: 5px;
    }

    input[type="checkbox"]+label  {
        float: left;
    }


    .checkbox  {
        margin-bottom:  10px;
         clear:  both;
         overflow:  hidden;
    }
}
.forgot_password  {
    display: block;
     margin:  20px 0 10px;
     clear:  both;
     overflow:  hidden;
     text-decoration:  none;
     color: #ED6347;
}

/* User Register Form */
.user_register  {
    display:  none;

    label  {
        display:  block;
         margin-bottom: 5px;
    }

    input[type="text"],  .user_register input[type="email"],  .user_register input[type="password"]  {
        display:  block;
         width: 90%;
         padding:  10px;
         border: 1px solid #DDD;
         color: #666;
    }

    input[type="checkbox"]  {
        float: left;
         margin-right: 5px;
    }

    input[type="checkbox"]+label  {
        float: left;
    }


    .checkbox  {
        margin-bottom:  10px;
         clear:  both;
         overflow:  hidden;
    }
}
